.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    background: rgba(12, 60, 1, 0.8);
    backdrop-filter: blur(10px);
    color: white;
}

.footer-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.turnstile-wrapper {
    transform: scale(0.6);
    transform-origin: top center;
    height: 40px;
    display: block;
}

.footer-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    height: inherit;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.footer-img {
    display: flex;
    width: 35px;
    height: 35px;
}

.footer-right {
    display: flex;
    align-items: center;
}
@media screen and (max-width: 1000px) {
    .footer-left {
        gap: 8px;
    }

    .footer-left p {
        font-size: 14px;
    }
    .turnstile-wrapper {
        transform: scale(0.55);
    }
    .footer-img{
        width: 30px;
        height: 30px;
    }
    .footer-right {
        font-size: 14px;
    }
}
@media screen and (max-width: 800px) {
    .footer-left {
        gap: 6px;
    }

    .footer-left p {
        font-size: 12px;
    }
    .turnstile-wrapper {
        transform: scale(0.50);
    }
    .footer-img{
        width: 25px;
        height: 25px;
    }
    .footer-right {
        font-size: 12px;
    }
}
@media screen and (max-width: 600px) {
    .footer-left {
        gap: 4px;
    }

    .footer-left p {
        font-size: 10px;
    }
    .turnstile-wrapper {
        transform: scale(0.20);
    }
    .footer-img{
        width: 20px;
        height: 20px;
    }
    .footer-right {
        font-size: 10px;
    }
}
@media screen and (max-width: 400px) {
    .footer-left {
        gap: 2px;
    }

    .footer-left p {
        font-size: 8px;
    }
    .turnstile-wrapper {
        transform: scale(0.0);
    }
    .footer-img{
        width: 15px;
        height: 15px;
    }
    .footer-right {
        font-size: 8px;
    }
}