.navbar {
    position: fixed;
    top: 0;
    display: flex;
    max-height: 20vmax;
    background: transparent;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
}

.menu {
    align-items: center;
    padding-right: 1vw;
    width: 40vw;
}

.menu-items{
    display: inline-flex;
    list-style: none;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.item {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    border-radius: 5px;
    padding: 5px;
    max-height: none;
}

.item img {
    width: 2vw;
    height: auto;
    margin-right: 5px;
}

.item a{
    font-size: 1.6vw;
    text-decoration: none;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
}
@media screen and (max-width: 1000px) {
    .menu{
        width: 50vw;
    }
    .item img{
        width: 2.2vw;
    }
    .item a{
        font-size: 1.8vw;
    }
}
@media screen and (max-width: 800px) {
    .menu{
        width: 60vw;
    }
    .item img{
        width: 2.4vw;
    }
    .item a{
        font-size: 2vw;
    }
}
@media screen and (max-width: 600px) {
    .menu{
        width: 70vw;
    }
    .item img{
        width: 2.8vw;
    }
    .item a{
        font-size: 2.4vw;
    }
}
@media screen and (max-width: 400px) {
    .menu{
        width: 80vw;
    }
    .item img{
        width: 3vw;
    }
    .item a{
        font-size: 2.6vw;
    }
}

.my-logo-img{
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    margin-left: 3vw;
    width: 10vmax;
    height: 10vmax;
 }